@use '../abstracts/variables' as *;

// Pantallas extragrandes 1200px
@media (max-width: 75em) {
  .hero-header {
    font-size: 4.4rem;
  }
}

// Pantallas grandes 960px
@media (max-width: 60rem) {
  html {
    font-size: 56.25%;
  }

}

// Pantallas pequeñas 768px
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }

  .hero-header {
    font-size: 3.6rem;
  }

  .btn:link, .btn:visited {
    font-size: 1.6rem;
  }

  .goals-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 2;
  }

  .header__nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s ease-in;


    // Hide navigation
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

  }

  .nav-open .header__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }

  .header__navList {
    flex-direction: column;
    gap: 4.8rem;
  }

  .header__navListLink:link, .header__navListLink:visited {
    font-size: 3rem;
    color: $color-secondary;
  }

  .header__navListLink:hover, .header__navListLink:active {
    color: lighten($color-secondary, 10%);
  }

  .btn--nav:link, .btn--visited:link {
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .hero-section {
    height: 93.5vh;
  }
}

// Tablets 576px
@media (max-width: 36em) {
  html {
    font-size: 43.75%;
  }

  .heading-secondary {
    font-size: 3.0rem;
  }

  .mission-header {
    font-size: 4.4rem;
  }

  .cta {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.6rem;
  }

  .cta-img-box {
    height: 100%;
  }
}

// Móviles grandes 496px
@media (max-width: 31em) {
  html {
    font-size: 37.5%;
  }
}

// Móviles medianos 432px
@media (max-width: 27em) {
  html {
    font-size: 31.25%;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    gap: 0;
    row-gap: 3.2rem;
  }

  .who-are-we-section {
    margin-bottom: 6.4rem;
  }

  .who-are-we-container {
    margin-top: 6.4rem;
  }
}

// Móviles pequeños 368px
@media (max-width: 23em) {

  .btn:link, .btn:visited {
    font-size: 1.2rem;
  }

}