//Branding colours
$color-primary: #ff5900;
$color-primary-dark: #e65000;
$color-primary-light: #ffeee6;
$color-secondary: #232852;

// Text colours
$color-text-primary: #343a40;
$color-text-white: #fff;
$color-text-heading: #333;
$footer-link-color: #767676