@use "../abstracts/variables" as *;

.footer-section {
  margin: 4.8rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.6rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-link {
  font-size: 1.6rem;
  color: $footer-link-color;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.logo-socials-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-address {
  margin-bottom: 2.4rem;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-link:link, .footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: $footer-link-color;
  transition: all 0.3s;
}

.footer-link:hover, .footer-link:active {
  color: darken(#767676, 10%)
}

.information-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}