.hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url("../img/hero-section/hero-prueba.jpeg");
  background-size: cover;
  /*padding-top: 12.8rem;*/
  /*display: grid;
  justify-items: center;*/
  position: relative;
}