@use "../abstracts/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  padding: 0 4.8rem;
  height: 5.8rem;
}

.header__navList {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.header__navListLink:link, .header__navListLink:visited {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.header__navListLink:hover, .header__navListLink:active {
  color: $color-secondary;
}