@use "../abstracts/variables" as *;

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.container {
  /* 112px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem;
}

.text-color-white {
  color: $color-text-white;
}