@use "../abstracts/variables" as *;
// Mission section
.who-are-we-section {
  margin-bottom: 9.6rem;
}

.who-are-we-container {
  margin-top: 9.6rem;
}

.who-are-we-description {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.mission-container {
  margin-bottom: 4.8rem;
}

.mission-header {
  font-size: 6.2rem;
  font-weight: 600;
  /*color: #ddd;*/
  margin-bottom: 1.2rem;
}

.mission-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.mission-img-box {
  display: flex;
  justify-content: center;
}

.mission-img {
  width: 100%;
}

.goals-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.goal-container {
  box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.075);
  padding: 1.6rem;
  border-top: 0.5rem solid $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
}

.goal-text {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

.goal-icon {
  color: $color-primary-dark;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: $color-primary-light;
  border-radius: 50%;
  padding: 1.6rem;
}

.goal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

// CTA section

.cta-section {
  background-color: $color-secondary;
  padding: 4.8rem 0 4.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3.2rem;

}

.heading-secondary--white {
  color: $color-text-white;
}

.cta-description {
  color: #e6e6e6;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: /*linear-gradient(to right bottom, rgba(235, 152, 78, 0.35), rgba(230, 126, 34, 0.35)),*/
          url("../img/hero-section/hero.png");
  background-size: cover;
  background-position: center;
}

.btn-margin-bottom {
  margin-bottom: 0.5rem;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5);
}

.cta .btn-margin-bottom:focus {
  box-shadow: 0 0 0 0.5rem rgba(255, 106, 26, 0.5);
}